[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
numpy = "*"
matplotlib = "*"

[dev-packages]
rope = "*"
pylint = "*"
"flake8" = "*"
mypy = "*"
black = "*"

[requires]
python_version = "3.8"
