[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
numpy = "*"
matplotlib = "*"

[dev-packages]
rope = "*"
pylint = "*"
"autopep8" = "*"
"flake8" = "*"
mypy = "*"

[requires]
python_version = "3.7"
